In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("2014_nyc_taxi_trips_with_features_d.csv")

In [3]:
data = data.dropna()

In [6]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'key', 'fare_amount', 'pickup_datetime',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'passenger_count', 'weekday', 'rush_hour',
       'weekend', 'day_night', 'distance'],
      dtype='object')

In [7]:
data_final = data[['key', 'fare_amount', 'pickup_datetime',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'passenger_count', 'weekday', 'rush_hour',
       'weekend', 'day_night', 'distance']]

In [8]:
data_final.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,weekday,rush_hour,weekend,day_night,distance
0,2014-02-19 07:22:00.00000074,12.5,2014-02-19 07:22:00,-73.986430,40.760465,-73.988990,40.737075,1,2,1,0,1,1.619554
1,2014-12-06 20:36:22.0000008,4.0,2014-12-06 20:36:22,-73.979815,40.751902,-73.979446,40.755481,1,5,0,1,0,0.247719
2,2014-02-19 16:03:00.000000160,5.5,2014-02-19 16:03:00,-73.976075,40.752422,-73.981082,40.759285,1,2,1,0,1,0.541562
3,2014-07-16 10:57:00.00000069,5.0,2014-07-16 10:57:00,-73.996148,40.741890,-73.992202,40.739425,6,2,0,0,1,0.267995
4,2014-05-01 09:12:00.000000198,7.0,2014-05-01 09:12:00,-73.966203,40.767500,-73.980915,40.774240,6,3,1,0,1,0.901087

In [ ]:
data_final.to_csv("2014_nyc_taxi_trips_with_features.csv")